# =============================================================================
# PYTHON
# =============================================================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# =============================================================================
# ENTORNOS VIRTUALES
# =============================================================================
venv/
env/
ENV/
.venv

# =============================================================================
# ARCHIVOS DE CONFIGURACIÓN SENSIBLES
# =============================================================================

.env.local
.env.*.local

# Mantener templates en el repo
!.env.example
!.env.dev
!.env.qa

# =============================================================================
# EVIDENCIAS Y REPORTES
# =============================================================================
evidencias/
*.mp4
*.png
*.jpg
*.jpeg
*.html
*.pdf

# Excepto ejemplos o templates
!docs/examples/*.png

# =============================================================================
# ALLURE
# =============================================================================
allure-results/
allure-report/
.allure/

# =============================================================================
# PYTEST
# =============================================================================
.pytest_cache/
.coverage
htmlcov/
*.log

# =============================================================================
# IDEs
# =============================================================================
# PyCharm
.idea/
*.iml

# VSCode
.vscode/
*.code-workspace

# Sublime Text
*.sublime-project
*.sublime-workspace

# =============================================================================
# SISTEMA OPERATIVO
# =============================================================================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# =============================================================================
# APPIUM
# =============================================================================
node_modules/
package-lock.json

# =============================================================================
# TEMPORAL
# =============================================================================
tmp/
temp/
*.tmp
*.bak
*.swp

# =============================================================================
# APK - IPA REALASE
# =============================================================================
apk/app-release.apk
apk/Valmex Móvil.ipa