include requirements.txt
include README.md
include sapyautomation/core/management/resources/*
include sapyautomation/core/management/resources/reports/*
include sapyautomation/core/management/resources/tests/*